*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;

}

.calculator{
 flex: 0 0 95%;
}
.screen{
 width: 100%;
 font-size: 7rem;
 padding: 0.5rem;
 background: rgb(41,41,56);
 color: white;
 border:none;
}

.buttons{
 display: flex;
 flex-wrap: wrap;
 transition: all 0.5s linear;
}

button{
 flex:0 0 25%;
 border: 1px solid black;
 padding: 0.25rem 0;
 transition: all 2s ease;
}
button:hover{
 background: blue;
}
.btn-yellow{
 background: rgb(245,146,62);
 color: white;
}
.btn-grey{
 background: rgb(224,224,224);
}
.btn,.btn-equal,.btn-clear{
 font-size: 4rem;
}
.btn-equal{
 background: yellow;
}
.btn-clear{
 background: red;
}